*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 60px;
    background:linear-gradient(to right,#141e30,#243b55);
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

.logo{
    color:white;
    font-size:28px;
    font-weight:bold;
    letter-spacing:1px;
    cursor:pointer;
}

.nav-links{
    display:flex;
    gap:30px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-size:18px;
    font-weight:500;
    position:relative;
    transition:0.3s;
}

.nav-links a::after{
    content:"";
    position:absolute;
    width:0%;
    height:2px;
    left:0;
    bottom:-5px;
    background:white;
    transition:0.3s;
}

.nav-links a:hover::after{
    width:100%;
}

.nav-links a:hover{
    color:#dbeafe;
}